[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
databases = {extras = ["mysql"], version = "*"}
sqlalchemy = "*"
motor = "*"

[dev-packages]

[requires]
python_version = "3.10"
